# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main
remotechrome
remotechrome_linux
remotechrome_mac
remotechrome_darwin
remotechrome_win
test.toml

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

