[Unit]
Description=Remote Chrome Client

[Service]
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/remotechrome_arm -conf /home/pi/config.toml
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
